body {
    background-color: rgb(185, 233, 229);
  }

  hr {
    border: 10px dotted;
    border-style: none none dotted;
    border-color: gray;
    border-width: 7px;
    width: 30%;
  }

  h1 { 
    color: #66BFBF;
  }

  h3 {
    color: #66BFBF;
  }

